.App {
    border: 1px solid black;
    min-height: 500px;
}

.WeatherBox {
    margin: 10% auto;
}

@media screen and (min-width: 200px) {
    .WeatherBox {
        width: 200px;
    }
}

@media screen and (min-width: 400px) {
    .WeatherBox {
        width: 400px;
    }
}

@media screen and (min-width: 800px) {
    .WeatherBox {
        width: 800px;
    }
}
